/*
** mmd-persian-datepicker styles	
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: vazir;
}

.form-input {
	border: none;
	box-shadow: 0 0 5px $gray;
	height: 50px;
	text-align: center;
	width: $picker-width;
	border-radius: 40px;
	display: block;
	margin: 5em auto;
	font-size: 1.5rem;
	padding: 0.5em;
	transition: all 0.3s;

	&:focus {
		outline: none;
		box-shadow: 0 0 5px 2px $blue;
	}
}
