.btn {
	display: inline-block;
	padding: 8px 20px;
	border: none;
	outline: 0;
	margin-bottom: 0;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-color: transparent;
	text-decoration: none;
	font-size: 1.3rem;
	position: relative;
	transition: all 0.3s ease-out;
	// border-radius: 40px;
	text-transform: uppercase;
}
