.mmd-picker {
  position: absolute;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease;
  background: $mmdBackground;
  box-shadow: 0 1px 7px rgba($color: #000000, $alpha: 0.1);
  border-radius: 4px;
  direction: rtl;
  display: flex;
  transform: translateY(-10px);

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &::selection,
  & *::selection {
    background: transparent;
  }

  &::-moz-selection,
  & *::-moz-selection {
    background: transparent;
  }

  &--open {
    display: flex;
    z-index: 99999;
  }

  &--open-animated {
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  &__month-wrapper {
    width: $pickerWidth;
  }

  &__month-wrapper + &__month-wrapper {
    margin-right: $multipleMonthGutter;
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 1em 0.5em;
    font-weight: bolder;
  }

  &__arrows {
    cursor: pointer;
    position: absolute;
    top: 1em;

    svg {
      width: 1em;
      height: 1em;
    }

    &--right {
      right: 1em;
    }

    &--left {
      left: 1em;
    }
  }

  &__weeks {
    text-align: center;
    display: flex;
    padding: 0 2px;
  }

  &__week-item {
    display: inline-flex;
    width: (100% / 7);
    margin: 0 0 0.8em;
    font-weight: bolder;
    justify-content: center;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-right: 2px;
  }

  &__day-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: (100% / 7);
    flex-basis: (100% / 7);
    cursor: pointer;
    border-radius: 50%;
    margin: 1px;
    transition: background-color 0.2s ease;
    max-width: 45px;
    height: 45px;
    line-height: 45px;

    &:hover {
      background-color: $gray;
    }
  }

  &__day-item--today {
    box-shadow: 0 0 2px $gray;
  }

  &__day-item--selected {
    background-color: $blue;
    color: #fff;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

  &__day-item--in-range {
    background-color: rgba($color: $blue, $alpha: 0.3);

    &:hover {
      background-color: rgba($color: $blue, $alpha: 0.3);
    }
  }

  &__day-item--disabled {
    opacity: 0.4;
    &:hover {
      color: initial;
      background: transparent !important;
      box-shadow: none !important;
      cursor: not-allowed !important;
    }
  }
}
