.mmd-picker {
  position: absolute;
  width: $pickerWidth;
  padding: 0.2em 0.5em;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  background: $mmdBackground;
  box-shadow: 0 1px 7px rgba($color: #000000, $alpha: 0.1);
  border-radius: 4px;
  direction: rtl;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &::selection,
  & *::selection {
    background: transparent;
  }

  &::-moz-selection,
  & *::-moz-selection {
    background: transparent;
  }

  &--open {
    display: inline-block;
    z-index: 99999;
  }

  &--open-animated {
    visibility: visible;
    opacity: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    font-weight: bolder;
  }

  &__arrows {
    cursor: pointer;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  &__weeks {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  &__week-item {
    display: inline-block;
    width: (100% / 7);
    margin: 0 0 0.8em;
    font-weight: bolder;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &__day-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: (100% / 7);
    flex-basis: (100% / 7);
    margin: 0.5em 1%;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    max-width: 39px;
    height: 39px;
    line-height: 39px;

    &:hover {
      background-color: $gray;
      color: #fff;
    }
  }

  &__day-item--today {
    box-shadow: 0 0 2px $gray;
  }

  &__day-item--selected {
    background-color: $blueLight;
    color: #fff;
  }

  &__day-item--disabled {
    &:hover {
      background: transparent !important;
      box-shadow: none !important;
      cursor: default !important;
    }
  }
}
